flow record NMS_FLOWREC
 match ipv4 protocol
 match ipv4 source address
 match ipv4 destination address
 match transport source-port
 match transport destination-port
 match interface input
 collect routing source as
 collect routing destination as
 collect routing next-hop address ipv4
 collect ipv4 source mask
 collect ipv4 destination mask
 collect ipv4 dscp
 collect transport tcp flags
 collect counter bytes long
 collect counter packets long
 collect timestamp sys-uptime first
 collect timestamp sys-uptime last
!
!
flow exporter NMS
 destination 10.10.10.53 
 source Loopback0
 output-features
 transport udp 9995
 export-protocol ipfix
 template data timeout 60
 option interface-table
 option exporter-stats
 option sampler-table
 option application-table
 option application-attributes
 option metadata-version-table
!
!
flow monitor NMS_PERFMON
 exporter NMS
 record NMS_FLOWREC
!
!
interface Ethernet0/1
 ip flow monitor NMS_PERFMON input
 ip flow monitor NMS_PERFMON output
!
interface Ethernet0/2
 ip flow monitor NMS_PERFMON input
 ip flow monitor NMS_PERFMON output
